html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Inter", sans-serif;
  font-feature-settings: normal;
}

body {
  margin: 0px !important;
  line-height: inherit;
  background-color: #fafafa;
}

.bg-gradient-purple {
  background: linear-gradient(to left, #9e006f, #5104a4);
  color: white;
}

.nav-go-2-market {
  margin-left: 1rem;
  color: #fff;
  font-weight: bolder;
}

.product_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: black;
}

.productContainer {
  margin: 0px;
}

.box-product-outer {
  padding: 5px;
}
.box-product-outer:hover {
  outline: 3px solid blue;
  -webkit-box-shadow: 0 6px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.175);
  border-radius: 7.2px;
}

.box-product-price {
  font-size: 24px;
  line-height: 12px;
}

.box-product-user {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.tab-content .box-product-outer {
  margin-bottom: 0;
}

.box-product {
  background-color: #ffffff;
  border-radius: 7.2px;
}

.box-product .img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 7.2px;
}

.box-product .img-wrapper > a > img {
  width: 100%;
}

.box-product .img-wrapper:hover > .option {
  top: auto;
  bottom: 0;
}

.box-product-details {
  padding: 5px;
}

.box-auto-upload {
  font-size: 11px;
  line-height: 13px;
  margin: 0px;
}

.product-sorting-bar {
  border: 1px solid #e5e5e5;
}

.ball {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.blue-ball {
  background-color: #3cd4f5;
}
.green-ball {
  background-color: #75de73;
}

#product-info {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.item-image-parent {
  order: 1;
  width: 50%;
  display: flex;
}

.item-info-parent {
  order: 2;
  width: 50%;
}

.item-list-vertical {
  order: 1;
  width: 10%;
  overflow-y: auto;
  margin-top: 50px;
}

.item-image-main {
  order: 2;
  width: 90%;
  height: 100%;
}

.btn-copy {
  position: absolute;
  z-index: 5;
  background: #ffffff;
  border: 1px solid #6a6a6a;
  border-radius: 7.2px;
}

/* sectioning completed */

.thumb-box {
  width: 75%;
  margin: 10px auto;
  background: white;
  border: 1px solid gray;
}
.thumb-box img {
  width: 100%;
  height: 100%;
}

.item-image-main img {
  width: 100%;
  height: auto;
}

.thumb-box:hover {
  cursor: pointer;
  border-color: #e77600;
  box-shadow: 0px 1px 5px 1px #e77600;
}

/* Item Info */
.main-info h4 {
  font-size: 21px;
  margin-bottom: 0;
  font-weight: 400;
}

.star-rating {
  width: 70%;
  color: gray;
  font-size: 24px;
  border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
}

.star-rating span {
  color: gold;
}

.main-info p {
  font-size: 15px;
  color: gray;
  margin-bottom: 30px;
}

#price {
  color: rgb(168, 14, 14);
  font-size: 21px;
}

/* Select Items */

.change-color {
  margin-bottom: 10px;
}

.change-color .thumb-box {
  margin: 10px 10px 10px 0;
  width: 40px;
  display: inline-block;
}

.change-size select {
  padding: 5px 10px;
  border-radius: 4px;
  border-color: rgb(189, 189, 189);
  margin-top: 10px;
}

.description ul {
  padding-left: 17px;
  font-size: 15px;
  line-height: 1.3rem;
}

.pointer {
  cursor: pointer;
}

.footer-active-page {
  background-color: darkgray;
  padding: 0px 6px;
}

.dropdown {
  padding: 0;
  color: #fff;
}

.filter-cat-li {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

.filter-cat-li-selected {
  text-decoration: underline;
}
